@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --veryDarkMagenta: #4f214f;
  --softPink: #ee68a4;
  --darkGrayishMagenta: #937b92;
  --lightGrayishMagenta: #f7f2f7;
  --white: #ffffff;
  --leagueSpartan: 'League Spartan', sans-serif;
  --fontSize: 15px;

  font-size: 15px;
  font-family: var(--leagueSpartan);
}

body {
  background-color: var(--lightGrayishMagenta);
  padding: 4rem 0;
  width: min(80%, 992px);
  margin: 0 auto;
}
